  #header {font-size:1em;list-style:none;margin: 0 auto;padding:5px 0;width:300px;}
  .header-title {font-weight: bold}
  p {    margin: 0;    padding: 0;}

  #container {position: absolute; width: 300px; height: 300px;left: 50%;top: 55%; margin-top: -180px;margin-left: -151px;z-index: 1;}

  #snake {clear: both;border: solid 1px #DDDDDD;}
  #snake table {}
  #snake td {width: 20px; height: 20px; background: #EEEEEE;}
  #snake td.snake-segment {background-color: green;}            
  #snake td.apple { background-color: red;}
  #snake td.dead { background-color: #666666;}

  #key-snake-segment {    color: green; }
  #key-apple {    color: red; }

  #high-score-p { background-color:#faf988;color:#000;font-size:0.8em;padding:2px;position:relative;text-align:center;}
  #reset-high-score {color:#111;position:absolute;right:5px;top:2px;}
  #creator {position: absolute;left: 0;top:0;padding: 2px;color: #111}
  #creator a {color: #111}

  #stats {position: relative;background: #c0dbb4; line-height: 1em;}
  .stat {padding: 5px;}
  #time-p {position: absolute; right: 0; top: 0}
  #score-p {}

  .snake {color: green}
  .apple {color: red}
  #speed-slow,#speed-medium,#speed-fast {color: #393}

  #logger{position:absolute;left: 10.4%;top:20%; float: left;padding: 0.5em 0em 0.2em;margin-left: 10px;width: 200px;height: 30px;border: 1px solid #d6d6d6;border-left-color: #e4e4e4;border-top-color: #e4e4e4;margin-top: 10px;visibility: hidden;font-size: 25px;font-weight: bold;text-align: center;z-index:3;}

